logic-apps/playbook-retry-adf-pipeline-with-callback.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "parameters": {},
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "pipeline_name": {"type": "string"},
                            "ticket_id": {"type": "string"},
                            "error_type": {"type": "string"},
                            "original_run_id": {"type": "string"},
                            "retry_attempt": {"type": "integer"},
                            "max_retries": {"type": "integer"},
                            "remediation_action": {"type": "string"},
                            "timestamp": {"type": "string"},
                            "callback_url": {"type": "string"}
                        },
                        "required": ["pipeline_name", "ticket_id", "callback_url"]
                    }
                }
            }
        },
        "actions": {
            "Initialize_PipelineStatus": {
                "runAfter": {},
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "PipelineStatus",
                            "type": "string",
                            "value": "InProgress"
                        }
                    ]
                }
            },
            "Initialize_RunId": {
                "runAfter": {
                    "Initialize_PipelineStatus": ["Succeeded"]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "RunId",
                            "type": "string",
                            "value": ""
                        }
                    ]
                }
            },
            "Initialize_AttemptNumber": {
                "runAfter": {
                    "Initialize_RunId": ["Succeeded"]
                },
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "AttemptNumber",
                            "type": "integer",
                            "value": "@triggerBody()?['retry_attempt']"
                        }
                    ]
                }
            },
            "Trigger_ADF_Pipeline": {
                "runAfter": {
                    "Initialize_AttemptNumber": ["Succeeded"]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/subscriptions/@{encodeURIComponent('<SUBSCRIPTION_ID>')}/resourcegroups/@{encodeURIComponent('<RESOURCE_GROUP>')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('<DATA_FACTORY_NAME>')}/pipelines/@{encodeURIComponent(triggerBody()?['pipeline_name'])}/CreateRun",
                    "queries": {
                        "x-ms-api-version": "2017-09-01-preview"
                    }
                }
            },
            "Set_RunId": {
                "runAfter": {
                    "Trigger_ADF_Pipeline": ["Succeeded"]
                },
                "type": "SetVariable",
                "inputs": {
                    "name": "RunId",
                    "value": "@body('Trigger_ADF_Pipeline')?['runId']"
                }
            },
            "Monitor_Pipeline_Until_Complete": {
                "runAfter": {
                    "Set_RunId": ["Succeeded"]
                },
                "type": "Until",
                "expression": "@or(equals(variables('PipelineStatus'), 'Succeeded'), equals(variables('PipelineStatus'), 'Failed'), equals(variables('PipelineStatus'), 'Cancelled'))",
                "limit": {
                    "count": 60,
                    "timeout": "PT1H"
                },
                "actions": {
                    "Get_Pipeline_Run_Status": {
                        "runAfter": {},
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuredatafactory']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/subscriptions/@{encodeURIComponent('<SUBSCRIPTION_ID>')}/resourcegroups/@{encodeURIComponent('<RESOURCE_GROUP>')}/providers/Microsoft.DataFactory/factories/@{encodeURIComponent('<DATA_FACTORY_NAME>')}/pipelineruns/@{encodeURIComponent(variables('RunId'))}",
                            "queries": {
                                "x-ms-api-version": "2017-09-01-preview"
                            }
                        }
                    },
                    "Update_PipelineStatus": {
                        "runAfter": {
                            "Get_Pipeline_Run_Status": ["Succeeded"]
                        },
                        "type": "SetVariable",
                        "inputs": {
                            "name": "PipelineStatus",
                            "value": "@body('Get_Pipeline_Run_Status')?['status']"
                        }
                    },
                    "Delay_30_Seconds": {
                        "runAfter": {
                            "Update_PipelineStatus": ["Succeeded"]
                        },
                        "type": "Wait",
                        "inputs": {
                            "interval": {
                                "count": 30,
                                "unit": "Second"
                            }
                        }
                    }
                }
            },
            "Check_Pipeline_Result": {
                "runAfter": {
                    "Monitor_Pipeline_Until_Complete": ["Succeeded"]
                },
                "type": "Switch",
                "expression": "@variables('PipelineStatus')",
                "cases": {
                    "Success": {
                        "case": "Succeeded",
                        "actions": {
                            "Callback_Success": {
                                "runAfter": {},
                                "type": "Http",
                                "inputs": {
                                    "method": "POST",
                                    "uri": "@triggerBody()?['callback_url']",
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "ticket_id": "@triggerBody()?['ticket_id']",
                                        "status": "Succeeded",
                                        "success": true,
                                        "attempt_number": "@variables('AttemptNumber')",
                                        "remediation_run_id": "@variables('RunId')",
                                        "pipeline_name": "@triggerBody()?['pipeline_name']",
                                        "original_run_id": "@triggerBody()?['original_run_id']",
                                        "error_type": "@triggerBody()?['error_type']",
                                        "timestamp": "@utcNow()"
                                    }
                                }
                            }
                        }
                    },
                    "Failed": {
                        "case": "Failed",
                        "actions": {
                            "Callback_Failure": {
                                "runAfter": {},
                                "type": "Http",
                                "inputs": {
                                    "method": "POST",
                                    "uri": "@triggerBody()?['callback_url']",
                                    "headers": {
                                        "Content-Type": "application/json"
                                    },
                                    "body": {
                                        "ticket_id": "@triggerBody()?['ticket_id']",
                                        "status": "Failed",
                                        "success": false,
                                        "attempt_number": "@variables('AttemptNumber')",
                                        "remediation_run_id": "@variables('RunId')",
                                        "pipeline_name": "@triggerBody()?['pipeline_name']",
                                        "original_run_id": "@triggerBody()?['original_run_id']",
                                        "error_type": "@triggerBody()?['error_type']",
                                        "error_message": "Pipeline run failed after retry attempt @{variables('AttemptNumber')}",
                                        "timestamp": "@utcNow()"
                                    }
                                }
                            }
                        }
                    }
                },
                "default": {
                    "actions": {
                        "Callback_Cancelled": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "@triggerBody()?['callback_url']",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "ticket_id": "@triggerBody()?['ticket_id']",
                                    "status": "Cancelled",
                                    "success": false,
                                    "attempt_number": "@variables('AttemptNumber')",
                                    "remediation_run_id": "@variables('RunId')",
                                    "pipeline_name": "@triggerBody()?['pipeline_name']",
                                    "original_run_id": "@triggerBody()?['original_run_id']",
                                    "error_type": "@triggerBody()?['error_type']",
                                    "error_message": "Pipeline run was cancelled or timed out",
                                    "timestamp": "@utcNow()"
                                }
                            }
                        }
                    }
                }
            }
        },
        "outputs": {}
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuredatafactory": {
                    "connectionId": "/subscriptions/<SUBSCRIPTION_ID>/resourceGroups/<RESOURCE_GROUP>/providers/Microsoft.Web/connections/azuredatafactory",
                    "connectionName": "azuredatafactory",
                    "id": "/subscriptions/<SUBSCRIPTION_ID>/providers/Microsoft.Web/locations/<LOCATION>/managedApis/azuredatafactory"
                }
            }
        }
    }
}
